.container {
  width: 90%;
  max-width: 1216px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 73px;
  height: 732px;
  .wrapper {
    width: 520px;
    height: 380px;
  }
  position: relative;

  .hero {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    h1 {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      color: #549bfd;
      text-shadow: 0px 0px 10px rgba(84, 155, 253, 0.5);
    }
  }
}

.games {
  h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    margin-bottom: 8px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .button button {
    margin-top: 48px;
    border: none;
    padding: 14px 24px;
    width: 220px;
    height: 52px;
    gap: 16px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background: #2681ff;
  }
}
.texto {
  margin-bottom: 32px;
}
.two {
  display: flex;
  flex-direction: row;
  align-items: center;
  .tree {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 44px;
  }
}
.slide {
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .gamesSlide {
    margin-right: 38px;
  }
}
.bgWrap {
  position: absolute;
  height: 732px;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.total {
  position: absolute;
  z-index: -1;
  background: linear-gradient(
    90deg,
    #141b3d 25.52%,
    rgba(20, 27, 61, 0.3) 72.59%,
    rgba(20, 27, 61, 0) 89.38%
  );
}
.random {
  position: absolute;
  width: 1360px;
  height: 732px;

  background: linear-gradient(
    90deg,
    #141b3d 25.52%,
    rgba(20, 27, 61, 0.3) 72.59%,
    rgba(20, 27, 61, 0) 89.38%
  );
}
.random2 {
  position: absolute;
  width: 100vw;
  height: 732px;

  background: linear-gradient(
    106.16deg,
    #141b3d 0%,
    rgba(20, 27, 61, 0.3) 24.48%,
    rgba(20, 27, 61, 0) 41.67%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
